@import url("/assets/extensions/blueprint/misc/cacheOverlay-1.css");
@keyframes notification {
  0%   { right:-300px; top:62px; opacity:0; background-color: #1f2933; }
  10%  { right:12px;   top:62px; opacity:1; background-color: #1f2933; }
  90%  { right:12px;   top:62px; opacity:1; background-color: #1f2933; }
  100% { right:-300px; top:62px; opacity:0; background-color: #1f2933; }
}

.notification {
  opacity:0;
  position:fixed;
  right:-300px;
  top:62px;
  height:auto;
  width:300px;
  z-index:99999;
  background-color:#1f2933;
  color:#cad1d8;
  padding:10px;
  border-radius:3px;
  animation-name: notification;
  animation-duration: 10s;
  border-top: #3c8dbc 3px solid;
}


tag {
  display:inline-block;
  padding:3px;
  background-color:#505050;
  border-radius:5px;
  font-size:12px;
  color:white;
}
tag[mg-left] {margin-left:5px;}
tag[mg-right] {margin-right:5px;}
tag[red] {background-color:#ff4040;}
tag[green] {background-color:#32fb62;}
tag[blue] {background-color:#288afb;}
[ext-title]{display:flex; flex-direction:row; align-items:center;}


.btn-gray {background-color:#33404d;color:#cad1d8;border-color:#606d7b;}
.btn-gray:hover {background-color:#29343e;color:#cad1d8;border-color:#606d7b;}
.btn-gray-alt {background-color:#4d5b69;color:#cad1d8;border-color:#4d5b69;}
.btn-gray-alt:hover {background-color:#3f4d5a;color:#cad1d8;border-color:#4d5b69;}
.btn {transition: background-color .3s;}


.img-btn {
  width:25px;
  height:25px;
  border-radius:3px;
  margin-right:2px;
}


.extension-btn-image {width:50px;height:50px;border-radius:3px;float: left;margin-right:10px;}
.extension-btn-text {font-size: 20px;margin:0;text-align:left;}
.extension-btn-version {font-size: 11px;text-align:left;margin:0;}
.extension-btn {background-color:#00000030;color:#cad1d8;border-color:#00000000;height:calc(65px + 14px);padding-top:7px;padding-bottom:7px;overflow:hidden;vertical-align:center;transition:background-color .2s;}
.extension-btn:hover {background-color:#00000035;color:#cad1d8;border-color:#00000000;}

.byte-img {
  width: 100px;
  opacity: .3;
  align-self: center;
}