/* 
  This file stores dashboard stylesheets for
  Blueprint extensions.

  Learn more at https://blueprint.zip
*/

:root {
  --tw-50: hsl(216, 33%, 97%);
  --tw-100: hsl(214, 15%, 91%);
  --tw-200: hsl(210, 16%, 82%);
  --tw-300: hsl(211, 13%, 65%);
  --tw-400: hsl(211, 10%, 53%);
  --tw-500: hsl(211, 12%, 43%);
  --tw-600: hsl(209, 14%, 37%);
  --tw-700: hsl(209, 18%, 30%);
  --tw-800: hsl(209, 20%, 25%);
  --tw-900: hsl(210, 24%, 16%);
}