/*
 *      Blueprint Framework.
 *      All Rights Reserved.
 */

tag {
  display:inline-block;
  padding:3px;
  background-color:#505050;
  border-radius:5px;
  font-size:12px;
  color:white;
}
tag[mg-left] {margin-left:5px;}
tag[mg-right] {margin-right:5px;}
tag[red] {background-color:#ff4040;}
tag[green] {background-color:#32fb62;}
tag[blue] {background-color:#288afb;}
[ext-title]{display:flex; flex-direction:row; align-items:center;}

.btn-gray {background-color:#33404d;color:#cad1d8;border-color:#606d7b;}
.btn-gray:hover {background-color:#29343e;color:#cad1d8;border-color:#606d7b;}

.btn-gray-alt {background-color:#4d5b69;color:#cad1d8;border-color:#4d5b69;}
.btn-gray-alt:hover {background-color:#3f4d5a;color:#cad1d8;border-color:#4d5b69;}


.img-btn {
  width:25px;
  height:25px;
  border-radius:3px;
  margin-right:2px;
};